/**************************************************************************************************/
/******************************************* General Styling **************************************/
/**************************************************************************************************/

/******************************** Page Components *********************************/
/**********************************************************************************/
* {
    padding: 0;
    margin: 0;
}

.header, .header-contact, section {
    padding: 15px 15px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

section {
    padding: 60px 30px;
}

h6 {
    color: rgb(133, 133, 133);
}

h1, h5, h3 {
    color: rgb(59, 59, 59);
}

p, .card-text {
    color: rgb(151, 151, 151);
    font-size: 18px;
    letter-spacing: 0.1em;
    line-height: 1.7em;
}

.flex-style {
    display: flex;
    flex: 1;
}

.btn-dark {
    color: #fff !important;
    background-color: #000 !important;
    border-color: #000 !important;
    letter-spacing: 0.1em;
}

/******************************** Header ******************************************/
/**********************************************************************************/

/* ------------------ Nav ------------------ */
/* ----------------------------------------- */

.navbar-collapse {
    transition: 1s ease-in-out;
    letter-spacing: 1em;
}

.navbar-light .navbar-toggler {
    color: none !important;
    border-color: none !important;
}

.navbar-toggler {
    border: none !important;
}

.navbar .navbar-nav .nav-item a, .header .header-text {
    color: #fff !important;
}

.navbar .navbar-nav .nav-item a:hover {
    transition: 0.8s ease;
    letter-spacing: 0.2em;
}


/* ------------------ Header Text ---------- */
/* ----------------------------------------- */

.section-head {
    text-align: center;
    padding: 20px 0px 20px 0px;
}




/**************************************************************************************************/
/******************************************* Header ***********************************************/
/**************************************************************************************************/

.header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),  url(../img/pikaaaaa-chuuuuuuuu.gif);
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/******************************** Navigation *****************************************/
/*************************************************************************************/

.navbar {
    background-color: transparent !important;
}

.navbar .navbar-brand {
    color: #fff;
    font-weight: bolder;
    font-size: 1.3 em;
}

.navbar .navbar-nav {
    margin: o auto;
}

.navbar .navbar-nav .nav-item a {
    color: #fff !important;
}

.navbar .navbar-nav .nav-item {
    width: 200px;
    text-align: right !important;
    letter-spacing: 0.08em;
}

@media only screen and (max-width: 991px) {
    .navbar .navbar-nav .nav-item {
        width: 100%;
    }
}

/* .navbar-light .navbar-toggler {
    color: none !important;
    border-color: none !important;
} */

.navbar-light .navbar-toggler-icon {
    background-image: url(/resources/img/menu.png) !important;
    /* color: #FFE; */
}

/******************************** Header Text *****************************************/

.header-text {
    margin-top: 10%;
    text-align: center;
}

.header-text .heading {
    font-size: 5em;
}

.header-text .paragraph {
    margin: 5% 0 7% 0;
    font-size: 2em;
}

.btn-outline-warning {
    color: #ffc107;
    background-color: transparent;
    background-image: none;
    border-color: #ffc107;
    padding: 10px 90px;
}

/**************************************************************************************************/
/******************************************* Who We Are *******************************************/
/**************************************************************************************************/

/* ------------------ Card ------------------ */
/* ------------------------------------------ */

.card {
    width: 100%;
}

.card-block .card-img {
    max-width: 150px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 1%;
    border: 2px solid #ededed;
    display: block;
}

.card-block {
    padding: 20px 20px 50px 20px;
}

/**************************************************************************************************/
/******************************************* Reference ********************************************/
/**************************************************************************************************/

.reference {
    background: #000;
    text-align: center;
}

.reference:hover {
    cursor: crosshair;
}

.reference h5 {
    color: #fff;
    letter-spacing: 0.05em;
    padding: 50px 0px 40px 0px;
}

.reference h5:hover {
    color: rgb(255, 252, 102);
    transition: 0.5s ease-in-out;
    letter-spacing: 0.07em;
}

.reference h5:before {
    color: rgb(255, 252, 102);
    transition: 0.5s ease-out;
    letter-spacing: 0.05em;
}


/**************************************************************************************************/
/******************************************* Development Services *********************************/
/**************************************************************************************************/

.development-services {
    background-color: rgb(247, 247, 247);
}

/* ------------------ Card ------------------ */
/* ------------------------------------------ */

.development-services .card-dev {
    background-color: #fff;
}

.development-services .card-block-dev .card-img-dev {
    max-width: 220px;
    margin: 20px auto;
    border: none;
    display: block;
}

@media only screen and (max-width: 900px){
    .development-services .card-block-dev .card-img-dev {
        max-width: 170px;
    }
}

.development-services .card-block-dev {
    padding: 10px 20px 50px 20px;
}

/**************************************************************************************************/
/******************************************* Footer ***********************************************/
/**************************************************************************************************/

.footer {
    padding: 10px 0px 60px 0px;
    height: 500px;
    background: #000;
}

/* ------------------ Social Icons ---------- */
/* ------------------------------------------ */

.middle {
    position: relative;
    top: 45%;
    transform: translate();
    width: 100%;
    text-align: center;
}

.btn-footer {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #fff;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -px #00000070;
    color: #000;
    overflow: hidden;
    position: relative;
}

.btn-footer i {
    line-height: 60px;
    font-size: 22px;
    transition: 0.5s linear;
}

.btn-footer:hover i {
    transform: scale(1.3);
    color: #f1f1f1;
}

.btn-footer:before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #000;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.btn-footer:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes aaa {
    0% {
        left: -110%;
        top: -30%;
    }
    50% {
        left: 10%;
        top: -30%;
    }
    100% {
        left: -10%;
        top: -10%;
    }
}

/* ------------------ Footer Links ---------- */
/* ------------------------------------------ */

.footer {
    text-align: center;
}

.footer-links {
    position: relative;
    top: 50%;
}

.footer-links a {
    cursor: pointer;
    color: rgb(182, 182, 182) !important;
}

.footer-links a:hover {
    transition: 0.8s ease;
    letter-spacing: 0.1em;
    color: #fff !important;
}


/**************************************************************************************************/
/******************************************* Contact Us-Header ************************************/
/**************************************************************************************************/

.header-contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),  url(../img/pikaaaaa-chuuuuuuuu.gif);
    height: 80vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

section.sec1 {
    background: url(oeHqdt.jpg);
    background-size: cover;
    background-position: center;
}

section.sec2 {
    background: rgb(207, 207, 207);
}

section.sec3 {
    background: url(oeHqdt.jpg);
    background-size: cover;
    background-position: center;
}

.skewed1 {
    position: relative;
    bottom: 0;
    left: 0;
    border-width: 100px 0 0 100vw; /*top left bottom right*/
    border-color: transparent transparent transparent red; /*top left bottom right*/
    border-style: solid;
    overflow-x: hidden;
}

.skewed2 {
    position: relative;
    top: 0;
    left: 0;
    border-width: 0 0 100px 100vw; /*top left bottom right*/
    border-color: transparent transparent transparent #fff; /*top left bottom right*/
    border-style: solid;
    overflow-x: hidden;
}

.transparent {
    border-color: transparent transparent transparent transparent !important; /*top left bottom right*/
}


/**************************************************************************************************/
/******************************************* Contact Us-Form ************************************/
/**************************************************************************************************/

#login-box {
    position: relative;
    margin: 5% auto;
    height: 650px;
    background: #fff;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6); */
}

.left-box {
    position: relative;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 40px !important;
    height: 650px;
    box-shadow: 0 10px 25px -6px black,
                15px 0px 25px -15px black;
}

h1 {
    margin: 0 0 20px 0;
    font-weight: 300;
    font-size: 28xpx;
}

input[type="text"],
input[type="password"] {
    display: block;
    box-sizing: border-box;
    padding: 4px;
    width: 100%;
    height: 32px;
    border: none;
    outline: none;
    margin: 60px 0;
    border-bottom: 1px solid #aaa;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 15px;
    transition: 0.2s ease;
}

#budget, #time-frame, #about {
    margin-top: 30px !important;
    padding: 20px 10px;
    background: transparent;
    border: none;
    color: #fff !important;    
    border: none;
    outline: none;
    font-weight: 200;
    border-bottom: 1px solid #aaa;
    border-radius: 0px;
}

#budget:focus,
#time-frame:focus,
#about:focus {
    border-color: rgba(255, 8, 8, 0.6);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 8, 8, 0.6);
    outline: 0 none;
}

#budget::placeholder,
#time-frame::placeholder,
#about::placeholder { 
    color: #fff;
    font-size: normal;
    letter-spacing: 0.07em;
    opacity: 1;
}

input[type="submit"] {
    margin: 10px 0px;
    padding: 20px 0px;
    width: 100%;
    background: #f44336;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    transition: 0.2s ease;
    cursor: pointer;
}

input[type="submit"]:hover
input[type="submit"]:focus {
    transition: 0.2s esae;
    background: #ff5722;
}

.right-box {
    box-sizing: border-box;
    padding: 40px !important;
    height: 650px;
    background-image: url(/resources/img/bg.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0 10px 25px -6px black,
                15px 0px 25px -15px black;
}

.right-box .signinwith {
    display: block;
    margin-bottom: 60px;
    color: #fff;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

button.social {
    margin-bottom: 20px;
    width: 100%;
    height: 36px;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 500;
    transition: 0.2s ease;
    cursor: pointer;
}

.facebook {
    background: #32508e;
}

.twitter {
    background: #55acee;
}

.google {
    background: #dd4b39;
}

/**************************************************************************************************/
/******************************************* Contact Us-Footer ************************************/
/**************************************************************************************************/

.contact-us .skewed2 {
    position: relative;
    top: -10px;
}

.contact-us .middle {
    position: relative;
    top: 30%;
}

.contact-us .footer-links {
    position: relative;
    top: 35%;
}